<%- include('../partials/header.ejs') %>
<div class="container">
        <h1>Offers for <%= item.title %></h1>
        <div class="image-wrapper">
            <img src="/images/<%= item.image %>" alt="Image of <%= item.title %>" class="product-image" loading="lazy">
        </div>
            <% if (offers.length > 0) { %>
                <% offers.forEach(offer => { %>
                    <h2>
                        <%= offer.user.firstName %> <%= offer.user.lastName %> - $<%= offer.amount.toFixed(2) %>
                        <% if (item.active) { %>
                            <form action="/offers/<%= item._id %>/offers/<%= offer._id %>/accept" class="form" method="POST">
                                <input type="hidden" name="_method" value="PUT">
                                <button type="submit">Accept</button>
                            </form>
                        <% } else { %>
                            <strong>Status: <%= offer.status %></strong>
                        <% } %>
                        </h2>
                <% }) %>
            <% } else { %>
                <li>No offers received for this item yet.</li>
            <% } %>
        <a href="/items/<%= item._id %>" class="button">Back to Item</a>
    </div>
    <%- include('../partials/footer.ejs') %>
    