<%- include('../partials/header.ejs') %>
<div class="container">
        <h1>Profile of <%= user.firstName %> <%= user.lastName %></h1>

            <h2>Your Offers</h2>
            <ul>
                <% if (offers && offers.length > 0) { %>
                    <% offers.forEach(offer => { %>
                        <li>
                            <% if (offer.item) { %>
                                <a href="/items/<%= offer.item._id %>"><%= offer.item.title %></a> - 
                                Status: <strong><%= offer.status === 'pending' ? 'Pending' : offer.status %></strong> - 
                                Amount: $<%= offer.amount.toFixed(2) %>
                            <% } else { %>
                                <span>Item not available</span>
                            <% } %>
                        </li>
                    <% }) %>
                <% } else { %>
                    <li>No offers made.</li>
                <% } %>
            </ul>
    
            <h2>Your Listed Items:</h2>

                <% if (items.length) { %>
                    <div class="items-list">
                        <% items.forEach(item => { %>
                            <div class="item">
                                <img src="/images/<%= item.image %>" alt="Image of <%= item.title %>" class="product-image" loading="lazy">
                                <h2 style="color: black;"><%= item.title %></h2>
                                <p style="color: black;"><%= item.details %></p>
                                <p style="color: black;">Price: $<%= item.price %></p>

                                <div class="button-container">
                                    <a href="/offers/<%= item._id %>" class="button" <%= item.totalOffers === 0 ? 'disabled' : '' %>>View Offers</a>
                                    <a href="/items/<%= item.id %>" class="button">View Details</a>
                                    <a href="/items/<%= item.id %>/edit" class="button">Edit</a>
                                    <form action="/items/<%= item.id %>?_method=DELETE" method="POST" style="display: inline;">
                                        <button type="submit" class="button red-button">Delete</button>
                                    </form>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                <% } else { %>
                    <li>You have not created any listings.</li>
                <% } %>

                <h2>Your Wishlist:</h2>
                <% if (wishlist && wishlist.length > 0) { %>
                    <div class="items-list">
                        <% wishlist.forEach(item => { %>
                            <div class="item">
                                <img src="/images/<%= item.image %>" alt="Image of <%= item.title %>" class="product-image" loading="lazy">
                                <h2 style="color: black;"><%= item.title %></h2>
                                <p style="color: black;"><%= item.details %></p>
                                <p style="color: black;">Price: $<%= item.price %></p>
                                <p style="color: black;">Status: <%= item.isSold ? "Sold" : "Available" %></p>
                                <div class="button-container">
                                <a href="/items/<%= item.id %>" class="button">View Details</a>
                                <form action="/users/wishlist/<%= item._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="button red-button">Remove from Wishlist</button>
                                </form>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <% } else { %>
                    <p>You have no items in your wishlist.</p>
                <% } %>                

            <a href="/users/logout" class="logout-btn">Logout</a>
        </div>
        <%- include('../partials/footer.ejs') %>